html{
    background-color:black;
    height:100%;
    box-sizing:border-box;
  }
  body{
    height:100%;
    box-sizing:border-box;
    margin:0;
  }
  #root{
    height:100%;
    box-sizing:border-box;
    
  }